gcp-mlops-488805-97dd6f2c3b29.json

# DVC tracked data - don't push actual data to git

# Python
__pycache__/
*.pyc
.env
venv/
*.egg-info/

# DVC internal (git tracks .dvc files, NOT the cache)
/data/.gitignore